<p>This is an Approval Request from {{requester}}</p>
<p>To approve {{requester}} for access, please <a href="{{verifyULR}}">click here</a></p>
<p>If the link does not work copy and paste the following link into your browser:</p>
<p><ul style="list-style-type:none"><li> {{verifyULR}}</li></ul> </p>
