<p>Welcome to your new account</p>
<p>To get started with your new account, please <a href="{{verifyULR}}">click here</a></p>
<p>If the link does not work copy and paste the following link into your browser:</p>
<p><ul style="list-style-type:none"><li> {{verifyULR}}</li></ul> </p>
