{{>../header}}
{{>authHead}}
<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">Password Reset</h3>
    </div>
    <div class="card-body">
        {{#error}}
        <h5 class="text-danger">{{errTitle}}</h5>
        <p class="text-danger">{{{errMsg}}}</p>{{/error}}
        <form action="/auth/resetPassword" method="POST" class="form needs-validation" novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
                <span id="helpResetPasswordEmail" class="form-text small text-muted">
                    Password reset instructions will be sent to this email address if registered.
                </span>
                <div class="invalid-feedback">Please enter your email address</div>
            </div>
            <div class="form-group">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <a href="/auth/" class="btn btn-info btn-teal btn-lg float-left">Cancel</a>
                <button type="submit" class="btn btn-info btn-teal btn-lg float-right" >Reset</button>
            </div>
        </form>
    </div>
</div>
{{>authFoot}}
{{>formScript}}
{{>../footer}} 
