<p>Forgotten password reset</p>
<p>You requested a new password <a href="{{resetURL}}">click here</a></p>
<p>If the link does not work copy and paste the following link into your browser:</p>
<p><ul style="list-style-type:none"><li> {{resetURL}}</li></ul> </p>
